@import '../../sass/modules/variables.scss';

about {
  section {
    padding: 4em;
    margin-bottom: 3em;
  }

  .panel-heading {
    padding: 0;
    text-decoration: none;
    //transition: all 0.2s;
    &:hover {
      background: $color-dark-blue;
      color: $color-white;
    }
  }
  .panel-title {
    font-size: none !important;
    h4 {
      padding: 0;
    }
  }
  .panel-title > a, 
  .panel-title > small, 
  .panel-title > .small, 
  .panel-title > small > a, 
  .panel-title > .small > a {
      display: block;
      padding: 1em;
      text-decoration: none;
      font-size: auto;
  }
}