<card-wrapper 
    class="card-facebook" ng-if="$ctrl.content.type === 'facebook'"  
    ng-class="$ctrl.content.media.length === 0 ? 'slide-quote' : ''" 
    id="{{ 'card' + $ctrl.content.id }}"> 
    <card-media ng-if="$ctrl.content.media.length >= 1">

        <slick settings="$ctrl.slickConfig" infinite="true" slides-to-show="1" slides-to-scroll="1">
            <!-- ng-if="$ctrl.content.media.length > 1 -->
            <!-- Loop through media -->
            <slide ng-repeat="m in $ctrl.content.media">
                <!--<pre>{{ m | json }}</pre>-->
                <!-- Image -->
                <slide-content class="slide-image" ng-if="m.type === 'image'">
                    <img src="{{m.url}}" />
                </slide-content>
                <!-- Video -->
                <slide-content class="slide-video videogular-container" ng-if="m.type === 'video'">
                    <videoplayer content="m"></videoplayer>
                </slide-content>
            </slide>
        </slick>

    </card-media>
    <card-content>
        <post-details>
            <a href="{{ $ctrl.getFacebookLink($ctrl.content.handle) }}">{{ $ctrl.content.name }}</a> via facebook den 7 april 2017:
        </post-details>
        <post>
            {{ $ctrl.content.text }}
        </post>
    </card-content>
    <card-toolbar>
        <button type="button" class="btn-card"><i class="fa fa-share" aria-hidden="true"></i> Dela inlägg</button>
    </card-toolbar>
</card-wrapper>


<card-wrapper
    class="card-twitter" ng-if="$ctrl.content.type === 'twitter'"  
    ng-class="$ctrl.content.media.length === 0 ? 'slide-quote' : ''" 
    id="{{ 'card' + $ctrl.content.id }}"> 
    <card-media ng-if="$ctrl.content.media.length >= 1">

        <slick settings="$ctrl.slickConfig" infinite="true" slides-to-show="1" slides-to-scroll="1">
            <!-- ng-if="$ctrl.content.media.length > 1 -->
            <!-- Loop through media -->
            <slide ng-repeat="m in $ctrl.content.media">
                <!--<pre>{{ m | json }}</pre>-->
                <!-- Image -->
                <slide-content class="slide-image" ng-if="m.type === 'image'">
                    <img src="{{m.url}}" />
                </slide-content>
                <!-- Video -->
                <slide-content class="slide-video videogular-container" ng-if="m.type === 'video'">
                    <videoplayer content="m"></videoplayer>
                </slide-content>
            </slide>
        </slick>

    </card-media>
    <card-content>
        <post-details>
            <a href="{{ $ctrl.getTwitterLink($ctrl.content.handle) }}">{{ $ctrl.content.handle }}</a> via twitter den 7 april 2017:
        </post-details>
        <post>
            {{ $ctrl.content.text }}
        </post>
    </card-content>
    <card-toolbar>
        <button type="button" class="btn-card"><i class="fa fa-share" aria-hidden="true"></i> Dela inlägg</button>
    </card-toolbar>
</card-wrapper>


<card-wrapper
    class="card-instagram" ng-if="$ctrl.content.type === 'instagram'"  
    ng-class="$ctrl.content.media.length === 0 ? 'slide-quote' : ''" 
    id="{{ 'card' + $ctrl.content.id }}"> 
    <card-media ng-if="$ctrl.content.media.length >= 1">

        <slick settings="$ctrl.slickConfig" infinite="true" slides-to-show="1" slides-to-scroll="1">
            <!-- ng-if="$ctrl.content.media.length > 1 -->
            <!-- Loop through media -->
            <slide ng-repeat="m in $ctrl.content.media">
                <!--<pre>{{ m | json }}</pre>-->
                <!-- Image -->
                <slide-content class="slide-image" ng-if="m.type === 'image'">
                    <img src="{{m.url}}" />
                </slide-content>
                <!-- Video -->
                <slide-content class="slide-video videogular-container" ng-if="m.type === 'video'">
                    <videoplayer content="m"></videoplayer>
                </slide-content>
            </slide>
        </slick>

    </card-media>
    <card-content>
        <post-details>
            <a href="{{ $ctrl.getInstagramLink($ctrl.content.handle) }}">{{ $ctrl.content.handle }}</a> via instagram den 7 april 2017:
        </post-details>
        <post>
            {{ $ctrl.content.text }}
        </post>
    </card-content>
    <card-toolbar>
        <button type="button" class="btn-card"><i class="fa fa-share" aria-hidden="true"></i> Dela inlägg</button>
    </card-toolbar>
</card-wrapper>