videoplayer {
    display: block;
    width: 380px;
    height: 320px;
    height: 1000px;
    margin: auto;
    overflow: hidden;

    videogular my-replay-plugin {
        position: absolute;
        z-index: 50;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    videogular my-replay-plugin div {
        background-color: #000000;
        width: 100%;
        height: 100%;
    }

    videogular my-replay-plugin div span {
        color: white;
        cursor: pointer;
        font-family: 'trebuchet ms', verdana, arial;
        font-size: 36px;
        display: table;
        position: absolute;
        text-align: center;
        margin: auto;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .videogular-container {
        width: 100%;
        height: 320px;
        margin: auto;
        overflow: hidden;
    }

    @media (min-width: 1200px) {
        .videogular-container {
            width: 1170px;
            height: 658.125px;
        }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        .videogular-container {
            width: 940px;
            height: 528.75px;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .videogular-container {
            width: 728px;
            height: 409.5px;
        }
    }

    // @media (min-width: 1200px) {
    //     & {
    //         width: 1170px;
    //         width: 100%;
    //         height: 658.125px;
    //     }

    //     &.audio {
    //         width: 1170px;
    //         height: 50px;
    //     }
    // }

    // @media (min-width: 992px) and (max-width: 1199px) {
    //     & {
    //         width: 940px;
    //         height: 528.75px;
    //     }

    //     &.audio {
    //         width: 940px;
    //         height: 50px;
    //     }
    // }

    // @media (min-width: 768px) and (max-width: 991px) {
    //     & {
    //         width: 728px;
    //         height: 409.5px;
    //     }

    //     &.audio {
    //         width: 728px;
    //         height: 50px;
    //     }
    // }

}