[uib-popover-popup].popover,
[uib-popover-html-popup].popover,
[uib-popover-template-popup].popover
{
  max-width: none;
  border: 3px solid #6161BE;
  box-shadow: none;
  border-radius: 0px;
  padding: 0px;
  &.right>.arrow {
      border-right-color: #6161BE;
    &:after {
      border-right-color: #6161BE;
    }
  }
  .popover-content {
    padding: 0px;
    .ip-popover {
      .ip-popover-header {
        padding: 5px 10px 5px 10px;
        background: #6161BE;
        color: #fff;
        font-weight: bold;
      }
      .ip-popover-content {
        padding: 10px;
      }
    }
  }

}
