.ip-scrollport {
  flex: 1;
  display:flex;
  overflow-y:auto;
  overflow-x: hidden;
  flex-direction:column;
}

.flexbox {
  display:flex;
}

.flex-horizontal {
  flex-direction:column;
}

.auto-flexed {
  flex: auto;
}
.flexfix {
  min-height: 0;
}
