@import '../../sass/modules/variables.scss';

page-footer {        
    page-content {
        border-radius: 0em;
        padding: 1em 0em 0em 0em;
    }
    page-content-wrapper {
        display: flex;
        flex-direction: column;
        flex-direction: nowrap;
        
        section {
            display: block;
            flex-grow: 1;
            flex-shrink: 1;
            width: 100%;
            padding-bottom: 0px;
        }
        section.description {
            order: 2;
        }
        section.counter {
            order: 1;
        }
        section.full-width {
            display: block;
            width: 100%;
            min-width: 100%;
        }
    }
    p {
        font-size: 1.4em;
        line-height: 1.6em;
        margin: 0px;
    }
    b {
        color: $color-blue;
    }
    .little-detail {
        display: block;
        width: 100%;
        padding: 4em 0em 8em 0em;
        clear: both;
        color: $ipms-color-gray;
        text-align: center;

        i {
            color: $color-red;
        }
    }
    counter {
        display: block;;
        text-align: right;
        font-size: 3.4em;
        color: #fff;
        font-weight: bold;
        color: $color-blue;
        line-height: 0.5em;

        number {
            display: block;
            font-size: 1.5em;

            i {
                color: $color-red;
            }
        }
        span {
            display: block;
            font-size: 0.5em;
            margin-left: 4em;
            color: $color-dark-blue;
        }
    }
    social-media {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        border-top: 0.1em solid lighten($color-gray,35%);
        
        
        & > a {
            flex-grow: 1;
            //flex-shrink: 0;
            align-items: space-between;
            display: flex;
            flex-direction: row;
            position: relative;
            top: 0;
            border-radius: 3px;
            padding: 0.8em;
            margin: 0;
            margin-top: 1em;           
            text-align: center;
            transition: all 0.2s;
            line-height: 2em;
            font-size: 1.6em;

            circle-icon {
                display: inline-block;
                height: 2em;
                width: 2em;
                border-radius: 10em;
                background: $color-light-blue;
                transition: all 0.2s;

                i {
                    color: $color-white;
                }
            }
            div {
                display: block;
                margin-left: 0.8em;
                margin-top: 0.3em;
                font-size: 0.8em;
                line-height: 1.2em;
                text-align: left;

                heading {
                    display: block;
                    color: $color-black;
                }
                span {
                    color: $color-gray;
                }
                span {
                    display: block;
                }
            }

            &:hover {
                cursor: pointer;
                text-decoration: none;
                top: -0.2em;
                background: #fff;
                box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
                circle-icon {
                    background: $color-dark-blue;
                }
            }
        }
    }

    @media screen and (min-width: $page-width-xs) {
        page-content-wrapper {
            page-content {
                border-radius: 1em 1em 0em 0em;
                padding: 2em 0em 5em 0em;
            }
        }
        p {
            font-size: 2em;
            line-height: 1.6em;
            margin: 0px;   
        }
    }
    @media screen and (min-width: $page-width-sm) {
        page-content-wrapper {
            section.description {
                font-size: 1em;
  
            }
        }
        p {
            font-size: 2em;
            line-height: 1.6em;
            margin: 0px;   
        }
        social-media {
            & > a {
                line-height: 2.4em;
                font-size: 2em;
                circle-icon {
                    height: 2.4em;
                    width: 2.4em;
                }
            }
            div {
                margin-top: 0.3em;
            }
        }
    }
    @media screen and (min-width: $page-width-md) {
        page-content {
            border-radius: 1em 1em 0em 0em;
        }
        page-content-wrapper {
            flex-direction: row;
            section.description {
                width: 60%;
                order: 1;
            }
            section.counter {
                width: 40%;
                min-width: 440px;
                order: 2;
            }
            section.description,
            section.counter {
                padding-top: 2em;
                padding-bottom: 1em;
            }            
        }
        p {
            font-size: 2em;
            line-height: 1.6em;
            margin: 0px;
        }
    }
    @media screen and (min-width: $page-width-lg) {
        page-content-wrapper {
            section.description,
            section.counter {
                padding-top: 6em;
            }
        }
    }
}