$color-twitter:     #00aced;
$color-facebook:    #3b5998;
$color-instagram:   #3f729b;

$color-white:       #ffffff;
$color-gray:        #949494;
$color-blue:        #009ce5;
$color-blue:        #1368b1;

$color-beige:       #f5f4f3;
$color-beige:       #f2efed;
$color-beige:       #efebe4;

// lightest blue #eaf2f9 or f6fbff or #f5f8fa
$color-lightest-blue: #f5f8fa;
$color-lightest-blue: $color-beige;
$color-light-blue:  #009ce5;
$color-dark-blue:   #1368b1;
$color-darkest-blue:#003c8f;
$color-yellow:      #ffd400;
$color-red:         #f13225;
$color-black:       #212721;


$color-blue: #286EBE;
$color-blue:#009ce5;
// body: #e0eaf1 !important;
//$color-blue: #179bf8;

$color-neon:        #d6f161;
$color-neon:        #caf027;
$color-neon:        #d7f651;
$color-orange:      #fb9c32;